*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  background-color: #fff;
}

.icon-phone {
  width: 0.7857142857142857em;
}

.header__contact-icon .fa {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 5rem;
  color: #757575;
}

.fa-phone {
  -webkit-transform: rotate(100deg);
          transform: rotate(100deg);
}

html {
  font-size: 62.5%;
  /* 1 rem 10px */
}

body {
  font-size: 1.6rem;
}

.container {
  max-width: 117rem;
  min-width: 24rem;
  margin: auto;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-auto {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__top {
  background-color: #252525;
  height: 4rem;
  font-size: 1.4rem;
  color: #757575;
}

.header__top a {
  color: #757575;
  text-decoration: none;
  line-height: 4rem;
  padding: 0.5rem;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.header__top a:hover {
  color: #fbd713;
}

.header__top .header__slogan {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.header__top-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__top-socials a {
  border: 1px solid currentColor;
  border-radius: 50%;
  margin-left: 1rem;
  padding: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.5rem;
  width: 2.5rem;
}

.header__top-socials a:hover {
  background-color: #fbd713;
  color: #252525;
  border-color: #fbd713;
}

.header__container {
  background-image: url("images/header-bg.jpg");
  height: 15rem;
}

.header__container a {
  color: #757575;
  text-decoration: none;
}

.header__contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__contact-wrapper .header__contact {
  text-align: right;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header__contact-wrapper .header__contact:first-child {
  padding-right: 2.9rem;
  border-right: 1px solid #757575;
}

.header__contact-wrapper .header__contact:last-child {
  padding-left: 2.9rem;
}

.header__contact-wrapper .header__contact-icon {
  width: 5rem;
  height: 5rem;
  color: #757575;
  border: 1px solid currentColor;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin-right: 1.2rem;
}

.header__contact-wrapper .header__contact-description {
  text-align: left;
}

.header__contact-wrapper .header__contact-description span {
  display: block;
}

.header__contact-wrapper .header__contact-description span a {
  font-size: 1.6rem;
  font-weight: 900;
  color: #e1e1e1;
}

body {
  font-family: "Poppins", sans-serif;
}
/*# sourceMappingURL=style.css.map */